{% set baseurl = 'http://localhost/employee/src/' %}
<html>
    <head>
        <title>EMS</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
         href="{{ baseurl }}View/Bootstrap/bootstrap.min.css">
         <link rel="stylesheet"
         href="{{ baseurl }}View/Css/index.css">
        <script src="{{ baseurl }}View/Bootstrap/bootstrap.bundle.min.js">
        </script>
        <script src="{{ baseurl }}View/Js/jquery-3.6.1.min.js"></script>

        </script>
        <script src="{{ baseurl }}View/Js/jquery.validate.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand" href="#">Employee Management System</a>
    </nav>
    <script src="{{ baseurl }}View/Js/index.js"></script>
  <style>
    body{
        background-color: cadetblue;
    }
  </style>