{% set baseurl = 'http://localhost/employee/src/' %}
<link rel="stylesheet" href="{{ baseurl }}View/Bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{{ baseurl }}View/Css/jquery.dataTables.min.css">
<div class="container my-5">

  <button id="adduser">Add New Employee</button>
  <div id="editmsg"></div>
  <div id="deletemsg"></div>
  <table id="emptable" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">EmpId</th>
        <th scope="col">RegNo</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Hobby</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in empall %}
      <tr id="row{{ emp.EmpId }}">
        <th scope="row" id="empid{{ emp.EmpId }}">{{ emp.EmpId }}</th>
        <td id="regno{{ emp.EmpId }}">{{ emp.RegNo }}</td>
        <td id="empname{{ emp.EmpId }}">{{ emp.Emp_name }}</td>
        <td id="empdeg{{ emp.EmpId }}">{{ emp.Designation }}</td>
        <td id="empemail{{ emp.EmpId }}">{{ emp.Email }}</td>
        <td id="empphone{{ emp.EmpId }}">{{ emp.Phone_no }}</td>
        <td id="empdate{{ emp.EmpId }}">{{ emp.Birth_date }}</td>
        <td id="emphobby{{ emp.EmpId }}">{{ emp.hobby }}</td>
        <td id="edit{{ emp.EmpId }}"><button onclick="myedit('{{emp.EmpId}}')">Edit</button></td>
        <td id="delete{{ emp.EmpId }}"><button onclick="mydelete('{{emp.EmpId}}')">Delete</button></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<div id="editdiv">
  <button class="newformclose" id="editclosebtn">X</button>
  <h4>Edit Details</h4>
  <form id="emp_editform">
    Regno<br><input type="text" id="regno" name="regno" /><br>
    Name<br><input type="text" id="empname" name="empname" /><br>
    Role<br>
    {# <input type="text" id="empdeg" name="empdeg" /> #}
    <select name='empdeg' id="empdeg">
      <option value="">type</option>
      <option value="Manager">Manager</option>
      <option value="Accountant">Accountant</option>
      <option value="Developer">Developer</option>
      <option value="Tester">Tester</option>
      <option value="Designer">Designer</option>
    </select>
    <br>
    Email<br><input type="text" id="empemail" name="empemail" /><br>
    Phone no<br><input type="text" id="empphone" name="empphone" /><br>
    Date of birth<br><input type="text" id="empdate" name="empdate" /><br>
    Hobbies<br>
    <input type="checkbox" id="batminton" value="batminton" name="hobby">
    <label for="scales">Batmiton</label>
    <input type="checkbox" id="football" value="football" name="hobby">
    <label for="scales">Football</label>
    <input type="checkbox" id="cricket" value="cricket" name="hobby">
    <label for="scales">Cricket</label>
    <input type="checkbox" id="chess" value="chess" name="hobby">
    <label for="scales">Chess</label>
    <input type="checkbox" id="volleyball" value="volleyball" name="hobby">
    <label for="scales">Volleyball</label>
    <br>
    <button type="submit" class="btn2" id="editbtn">submit</button>
  </form>
</div>
<div id="adduserdetail">
  <div id="userdiv">
    <button class="newformclose" id="newformclose">X</button>
    <form id="emp_addform" method="post" autocomplete="off">
      <fieldset>
        <legend><u>New Employee Details</u></legend>
        Registration number<br>
        <input type="text" id="reg1" name="regno" />
        <p id="regno1err"></p>
        Name<br>
        <input type="text" id="name1" name="empname" /><br>
        Role<br>
        {# <input type="text" id="deg1" name="empdeg" /><br> #}
        <select name='empdeg' id="deg1">
          <option value="">type</option>
          <option value="Manager">Manager</option>
          <option value="Accountant">Accountant</option>
          <option value="Developer">Developer</option>
          <option value="Tester">Tester</option>
          <option value="Designer">Designer</option>
        </select><br>
        Email<br>
        <input type="email" id="email1" name="empemail" />
        Phone_Number<br>
        <input type="text" id="phone1" name="empphone" />
        Date_of_birth<br>
        <input type="date" id="date1" name="empdate" />
        <br>Hobbies<br>
        <input type="checkbox"  value="batminton" name="hobby">
        <label for="scales">Batmiton</label>
        <input type="checkbox"  value="football" name="hobby">
        <label for="scales">Football</label>
        <input type="checkbox"  value="cricket" name="hobby">
        <label for="scales">Cricket</label>
        <input type="checkbox"  value="chess" name="hobby">
        <label for="scales">Chess</label>
        <input type="checkbox"  value="volleyball" name="hobby">
        <label for="scales">Volleyball</label>
        <br>
        <button type="submit" id="empadd">Add</button>
      </fieldset>
    </form>
  </div>
</div>
<style>
  button {
    background-color: aqua;
    border-radius: 20px;
  }

  button:hover {
    background-color: chartreuse;
    color: white;
  }

  #userdiv {
    margin-left: 80px;
  }

  #editdiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(117, 214, 244);
    border-radius: 5px;
    background-color: #7bdaf5;
    width: 300px;
    height: auto;
    padding-left: 35px;
    display: none;
  }

  #adduserdetail {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(60, 158, 244);
    border-radius: 5px;
    background-color: #7cf4ec;
    width: 400px;
    height: auto;
  }

  #adduserdetail form fieldset {
    width: 250px;
  }

  #newaddform {
    margin-left: 80px;
  }

  #newaddform input {
    height: 25px;
  }

  .newformclose {
    float: right;
    background-color: red;
  }

  #newemailerror {
    color: red;
  }

  #adduser,
  .btn2 {
    background-color: aqua;
  }

  #adduser:hover,
  .btn2:hover {
    background-color: chartreuse;
  }
</style>
<script src="{{ baseurl }}View/Js/jquery.dataTables.min.js"></script>
<script src="{{ baseurl }}View/Js/welcome.js"></script>
<script>
  $('#adduser').click(function () {
    $('#adduserdetail').show();
  });
  $('#editclosebtn').click(function () {
    $('#editdiv').hide();

  });
  $('#newformclose').click(function () {
    $('#adduserdetail').hide();
  });



</script>